html{
    height: 100%;
    width:100%
}

.div-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

body{
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0 !important;
    background-size: 100% cover!important;
    overflow:hidden;
    display: block;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    outline: none;
    font-family: Abel;
}

.close {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
}

.class-label-text {
    font-weight: bold;
    margin: 10px 0;
    font-family: Abel;
}

#class-div-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.class-title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class-title{
    font-family: 'Montez', cursive;
    font-size: 30px;
    color: blue;
    margin: 0;
}

.class-sub-title{
    font-family: 'Ubuntu Mono';
    font-size: 15px;
    color: black;
    margin: 0;
}

.class-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    color: black;
}

.class-blue-button{
    background-color: blue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left:5px;
    color:white;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
}

.class-modal-title{
    align-self: center;
    font-family: Abel;
}

.class-modal-head {
    display: flex;
    flex-direction: column;
}

.class-modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.class-login-buttons-container{
    padding: 10px;
}

.class-signin-btn {
    background-color: green;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    font-family: Abel;
}

.class-signup{
    color: blue;
    font-weight: bolder;
    margin-left: 10px;
    cursor: pointer;
    font-family: Abel;
}

.class-bottom-banner{
    font-family: Abel;
}